html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}
.image-block {
    display: block;
    position: relative;
}
.w3l-about .image-block img.pos {
    position: absolute;
    right: -43px;
    z-index: -1;
    width: 300px;
    bottom: -43px;
}

@media (max-width: 992px) {
    .w3l-about .image-block img.pos {
        right: 40px;
    }
}
@media (max-width: 992px) {
    .w3l-about .image-block img.pos {
        right: 40px;
    }
}
@media (max-width: 737px) {
    .w3l-about .image-block img.pos {
        right: -56px;
    }

    .w3l-about .about-content img.signature {
        margin-top: -30px;
    }
}
@media (max-width: 480px) {
    .w3l-about .about-content h4 {
        font-size: 22px;
        line-height: 29px;
    }

    .w3l-about .image-block img.pos {
        max-width: 250px;
    }

    .w3l-about .image-block {
        margin-right: 50px !important;
    }

        .w3l-about .image-block img.pos {
            right: -47px;
        }

    .w3l-about .about-content p {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (max-width: 384px) {
    .w3l-about .image-block img.pos {
        max-width: 200px;
    }

    .w3l-about .about-content h4 {
        font-size: 21px;
        line-height: 27px;
    }

    .w3l-about .about-content img.signature {
        margin-top: -15px;
        width: 250px !important;
    }
}




/*==================== Contact ====================*/

.w3l-contacts-12 .main-images a {
    display: inline-block;
}

.w3l-contacts-12 .contacts12-main {
    margin: auto;
    max-width: 700px;
    text-align: center;
}

.w3l-contacts-12 .contact-head {
    color: #232527;
    line-height: 50px;
    font-size: 45px;
}

.w3l-contacts-12 .contact {
    text-align: center;
}

.w3l-contacts-12 input.contact-input,
.w3l-contacts-12 textarea {
    outline: none;
    border: none;
    padding: 17px 20px;
    -webkit-appearance: none;
    border-radius: 0;
    background: #eee;
    color: #777;
    width: 100%;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 15px;
}

.w3l-contacts-12 textarea {
    height: 180px;
    resize: none;
}

.w3l-contacts-12 button.btn {
    font-size: 17px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 50px;
}

    .w3l-contacts-12 button.btn:hover {
        color: #a3f7bf;
        background: #1f242c;
    }

@media (max-width: 768px) {
    .w3l-contacts-12 textarea {
        height: 150px;
    }
}
.w3l-contacts-12 .contacts12-main {
    margin: auto;
    max-width: 700px;
    text-align: center;
}
h3.main-title-w3 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
}

/*.title-line {
    height: 2px;
    width: 100%;
    background: #eee;
}
*/
@media (max-width: 992px) {
    h3.main-title-w3 {
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width: 737px) {
    h3.main-title-w3 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media (max-width: 415px) {
    h3.main-title-w3 {
        font-size: 33px;
        line-height: 37px;
    }
}

@media (max-width: 384px) {
    h3.main-title-w3 {
        font-size: 28px;
        line-height: 33px;
    }
}
