@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-center">

    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <ol>

                <li class="nav-item @@contact__active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">EN</a>
                </li>
                <li class="nav-item @@contact__active">
                    <a class="nav-link" asp-area="" asp-controller="HomeRo" asp-action="AboutRo">RO</a>
                </li>
            </ol>
            <h2 class="title">Despre Mine</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active">
                    <span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>
                    Despre Mine
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
