@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Contact RO</h1>
<h1>Contact RO</h1>
<h1>Contact RO</h1>
<h1>Contact RO</h1>
<ol>
    <li class="nav-item @@contact__active">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">EN</a>
    </li>
    <li class="nav-item @@contact__active">
        <a class="nav-link" asp-area="" asp-controller="HomeRo" asp-action="ContactRo">RO</a>
    </li>

</ol>