@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Alexandru";
}


<!-- about me -->
<div class="w3l-about w3l-banner py-5 pt-9">
    <div class="container py-lg-3">
        <div class="row about-content mb-lg-5">

            <div class="col-lg-6 info pl-lg-5 mt-lg-0 mt-5 pt-lg-0 pt-3 align-center">
                <h3 class="title-big">Game developer</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    I play video games since I was a little child.<br />
                    I don't want to stop just because I grew up.<br /> 
                    I decided to start developing video games, 
                    and I never thought that in a short time game development
                    would become a passion for me.
                    I started learning Unity with C# and Unreal Engine with C++
                    and I do not wish to stop there.
                    
            </div>
            @*<div class="col-lg-1">

            </div>*@
            <div class="col-lg-6 pr-md-6">
                <div class="image-block">
                    <img src="~/Img/Gamer/game-developer1.jpg"
                         class="radius-image img-fluid myphoto"
                         alt="my photo" />
                         <br />
                    <img src="~/Img/cross.png"
                         class="img-fluid pos"
                         alt="dots" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //about me -->
<!-- //about breadcrumb -->
<!-- about page about section -->
<section class="w3l-aboutblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="~/img/Gamer/gamepad-desktop-night.jpg"
                             alt=""
                             class="radius-image img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 info pl-lg-5 mt-lg-0 mt-5 pt-lg-0 pt-3 align-center">
                    <h5 class="title-small mb-2">Detail</h5>
                    <h3 class="title-big">Atention to details</h3>
                    <p class="mt-4">
                        My organization skills includes the ability to use my physical 
                        space, mental capacity and energy effectively to reach the 
                        desired outcome. <br />
                        I focus on presence in work to notice small details and produce 
                        high-quality results and when work requires me to have strong 
                        attention to detail, I adopt a mindset where quality is my 
                        number one priority.
                    </p>
                    @*<div class="my-info mt-4">
                        <div class="single-info">
                            <span>Name:</span>
                            <p>Alexandru Lungu</p>
                        </div>
                        <div class="single-info">
                            <span>Age:</span>
                            <p>38 Years</p>
                        </div>
                        <div class="single-info">
                            <span>From:</span>
                            <p>Arad, Romania</p>
                        </div>
                        <div class="single-info">
                            <span>Email:</span>
                            <p>
                                <a href="mailto:alexander@mail.com">alex.lungu21@yahoo.com</a>
                            </p>
                        </div>
                    </div>*@
                    <div class="my-social mt-lg-5 mt-4">
                        <a href="https://drive.google.com/file/d/1Aj7YIXASuDt77JQDwaGQonYTNoerrR4a/view?usp=sharing" target="_blank" class="btn btn-style btn-primary">Download CV</a>
                        <ul class="social m-0 p-0 ">
                            <li>
                                <a href="https://www.linkedin.com/in/lungu-alexandru-constantin-204376170/" target="_blank">
                                    <span class="fa fa-linkedin-square fa-2x"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Alexutz21" target="_blank"><span class="fa fa-github fa-2x"></span></a>
                            </li>

                            <li>
                                <a href="https://twitter.com/Alexutz21L" target="_blank"><span class="fa fa-twitter fa-2x"></span></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCHq-AcQ2qI6rW82A3edvn9g/videos" target="_blank">
                                    <span class="fa fa-youtube fa-2x"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about page about section -->







<!-- about page third section -->
<section class="w3l-content-6 w3l-banner py-5">
    <div class="content-6-mian py-lg-5 py-md-4">
        <div class="container">
            <div class="content-info-in row">
                <div class="content-gd col-lg-5">
                    <h3 class="title-big mb-4">
                        Team Work !
                    </h3>
                    <p>
                        @*Motivation is the internal and external factors that contribute 
                        to the desire to stay committed or interested in a position, 
                        goal or subject. To excel in our profession, we will need the 
                        motivation to continually pursue our career objectives.*@

                        The biggest thing I've learned about game development is communication and team work,
                        actually, I mean you can be the best programmer or the
                        best artist or the best designer, at the end of the day
                        you have to work in a team because it's very important
                        to work with people and to comunicate with them.
                        <br />
                        @*For example, we may want to be promoted to a higher position of responsibility in our organization. Having a specific goal will motivate us to deliver top-level performance. This also applies when we are studying to acquire a specialized skill that will enhance our earning power.
                        <br />
                        Motivation thrives on conscious and unconscious factors, which could include the need to gain something or the potential to earn recognition and praise from others. Your source of motivation could also be the need to earn more money to support your family or to retire by a certain age.*@
                    </p>
                </div>
                <div class="content-gd col-lg-6 offset-lg-1">
                    <div class="progress-info">
                        <h6 class="progress-tittle">Game Development</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-info">
                        <h6 class="progress-tittle">Ideas & Technology</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: 79%"
                                 aria-valuenow="79"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-info">
                        <h6 class="progress-tittle">Leadership</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: 90%"
                                 aria-valuenow="90"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-info">
                        <h6 class="progress-tittle">Problem solving</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: 87%"
                                 aria-valuenow="87"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    @*<div class="progress-info">
                        <h6 class="progress-tittle">Game Design</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: 65%"
                                 aria-valuenow="65"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>*@
                    <div class="progress-info mb-0">
                        <h6 class="progress-tittle">Web Design</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: 80%"
                                 aria-valuenow="80"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about page third section -->
<!-- subscribe block -->
<div class="abouthy-img-grids">
    <div class="img-one">
        <img src="~/img/Gamer/5700_3_02.jpg" class="img-fluid" />
    </div>
    <div class="img-one content-mid">
        <h3 class="title-big">
            Let's play together!<br /> Let's have fun!
            @*Stay up to date, Subscribe to the free Newsletter!*@
        </h3>
        <form action="#url" method="GET" class="subscribe-form">
            <input type="email"
                   name="email"
                   placeholder="Enter your email"
                   required />
            <button type="submit" class="btn">Subscribe</button>
        </form>
    </div>
    <div class="img-one">
        <img src="~/img/Gamer/5700_9_04.jpg" class="img-fluid" />
    </div>
</div>
<!-- //subscribe block -->


<!-- freelance hire me -->
<section class="w3l-grid-quote text-center py-5">
    <div class="container p-5 py-3">
        <h6 class="title-small">Get in touch</h6>
        <p>
            Sometimes I also make websites, like this one.<br />
            You can take a look if you want 
       
            <a href="https://www.getdigitalsoft.com" target="_blank">
                <img src="~/Img/LogoGetDigitalSoft/getDigital-logo (3).png" />
            </a>
        <br />

        If you have any questions please feel free to contact me :)
        </p>
        <br />
        <a onclick="location.href='@Url.Action("Contact", "Home")'" class="btn btn-style btn-primary mr-2">
            Contact
        </a>
        <a onclick="location.href='@Url.Action("Projects", "Home")'" class="btn btn-style btn-outline-primary">Projects</a>
    </div>
</section>
<!-- //freelance hire me -->
