@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Alexandru";
}
<!-- contact breadcrumb -->
@*<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Contact Me</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li>@Html.ActionLink("Home", "Index", "Home",null, new {@class= "nav-item"})</li>
                <li class="active">
                    <span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>
                    Contact
                </li>
            </ul>
        </div>
    </div>
</section>*@

<section class="w3l-contact-1 py-5 p-5">
    <!-- contact form -->
    <section class="w3l-contacts-12 py-5 pt-9">
        <div class="container py-md-3">
            <div class="contacts12-main">
                <div class="title-section">
                    <h3 class="main-title-w3 mb-md-5 mb-4">
                        Want to get in touch? <br />Find me on
                        <a href="tel:+40 752 817 792" class="text-primary">phone</a>,
                        <a href="mailto:alex.lungu21@yahoo.com" class="text-primary">email</a>,
                        <a href="https://www.linkedin.com/in/lungu-alexandru-constantin-204376170/" target="_blank" class="text-primary">linkedin</a>
                        or <a href="https://twitter.com/Alexutz21L" target="_blank" class="text-primary">twitter</a>
                    </h3>
                </div>
                <form onsubmit="sendEmail(); reset(); return false;"
                      method="POST" class="contact_form" target="_blank">
                    <div class="main-input">
                        <input type="text"
                               name="Name"
                               id="name"
                               placeholder="Enter your name"
                               class="contact-input name"
                               required />
                        <input type="email"
                               name="Email"
                               id="email"
                               placeholder="Enter your mail"
                               class="contact-input email"
                               required />
                        <input type="number"
                               name="Phone"
                               id="phone"
                               placeholder="Your phone number"
                               class="contact-input phone"
                               required />
                        <textarea class="contact-textarea contact-input message"
                                  name="Message"
                                  id="message"
                                  placeholder="Enter your message"
                                  required>
                              </textarea>
                    </div>
                    <div class="text-right">
                        <button onclick="SendEmail()" type="submit" class="btn-primary btn primary-btn-style">Send</button>
                    </div>

                </form>
            </div>
        </div>
    </section>
    <!-- //contact form -->
</section>
<!-- /contact1 -->
<div class="map-iframe">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d22096.22499757861!2d21.336167!3d46.189999!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sro!4v1664009714285!5m2!1sen!2sro" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- //contact block -->


