@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Alexander";
}

<!-- my featured projects -->
<section class="w3l-block py-5">
    <div class="container py-lg-3">
        <h3 class="title1 mb-md-5 p-5 mb-4">Featured projects</h3>
        <div class="row">

            <div class="col-lg-6 col-sm-12"
                 data-id="id-1"
                 data-type="cat-item-1">
          
                <iframe width="560" height="315" src="https://www.youtube.com/embed/19k56TbcXDk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
                <div class="content-overlay">
                    <a href="~/Img/Gameplay/CarMenu.png" title="Game Menu">
                        <img src="~/Img/Gameplay/CarMenu.png"
                             class="img-game"
                             alt="gamepley-img" />
                    </a>
                    <a href="~/Img/Gameplay/Car1.png" title="Gameplay Picture Level 1">
                        <img src="~/Img/Gameplay/Car1.png"
                             class="img-game"
                             alt="gamepley-img" />
                    </a>
                    <a href="~/Img/Gameplay/Car2.png" title="Gameplay Picture Level 2">
                        <img src="~/Img/Gameplay/Car2.png"
                             class="img-game"
                             alt="gamepley-img" />
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12"
                 data-id="id-1"
                 data-type="cat-item-1">
                <div class="text-center">
                    <h3 class="content-title text-left text-decoration-underline">
                        3D Obstacle Course Game
                    </h3><br />
                    <p class="content-text text-left">Developed in Unity 2021</p>
                    <p class="content-text text-left">Fun and challenging game</p>
                    <p class="content-text text-left">2 level game</p>
                    <p class="content-text text-left">1st level during the day, 2nd level at night</p>
                    <p class="content-text text-left">Do not hit any object</p>
                    <p class="content-text text-left">Do not fall off the road</p>
                    <p class="content-text text-left">Otherwise the game is reset</p>
                    @*<p class="content-text ">This is a short description</p>*@
                    <br />
                    <a href="https://simmer.io/@@Alexutz21/3dobstaclegame" target="_blank" class="btn btn-style btn-primary mr-2">
                        Play game
                    </a>
                </div>
            </div>
            <div class="p-5"></div>
            <div class="col-lg-6 col-sm-12"
                 data-id="id-2"
                 data-type="cat-item-2">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/2E1Eo2WLBiA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="content-overlay">
                    <a href="~/Img/Gameplay/QuizMainMenu.png" title="Quiz Game Main Menu">
                        <img src="~/Img/Gameplay/QuizMainMenu.png"
                             class="img-game"
                             alt="portfolio-img" />
                    </a>
                    <a href="~/Img/Gameplay/Quiz1.1.png" title="Quiz Gampleay.">
                        <img src="~/Img/Gameplay/Quiz1.1.png"
                             class="img-game"
                             alt="portfolio-img" />
                    </a>
                    <a href="~/Img/Gameplay/Quiz3.png" title="Quiz Gameplay.">
                        <img src="~/Img/Gameplay/Quiz3.png"
                             class="img-game"
                             alt="portfolio-img" />
                    </a>
                    <a href="~/Img/Gameplay/Quiz2.png"  title="Quiz Gameplay.">
                        <img src="~/Img/Gameplay/Quiz2.png"
                             class="img-game"
                             alt="portfolio-img" />
                    </a>
                    <a href="~/Img/Gameplay/Quiz1.png"  title="Quiz Gameplay.">
                        <img src="~/Img/Gameplay/Quiz1.png"
                             class="img-game"
                             alt="portfolio-img" />
                    </a>
                    <a href="~/Img/Gameplay/Quiz4.png" title="Quiz Gameplay.">
                        <img src="~/Img/Gameplay/Quiz4.png"
                             class="img-game"
                             alt="portfolio-img" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12"
                 data-id="id-2"
                 data-type="cat-item-2">
                <div class="text-center">
                    <h3 class="content-title text-left text-decoration-underline">
                        Quiz Game
                    </h3><br />
                    <p class="content-text text-left">Quiz Questions and Answers game</p>
                    <p class="content-text text-left">Learn and Win Quiz Competitions</p>
                    <p class="content-text text-left">Developed in Unity 2021 with C#</p>
                    <p class="content-text text-left">30 questions and only one correct answer</p>
                    <p class="content-text text-left">15 sec time to complete question</p>
                    <p class="content-text text-left">5 sec time to show correct answer</p>
                    
                    <br />
                    <a href="https://simmer.io/@@Alexutz21/myquizgame-30q" target="_blank" class="btn btn-style btn-primary mr-2">
                        Play Game
                    </a>
                </div>
            </div>
            <div class="p-5"></div>

            <div class="col-lg-6 col-sm-12"
                 data-id="id-2"
                 data-type="cat-item-2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gx14vnM39JM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="content-overlay">
                    <a href="~/Img/Gameplay/SnowboardMenu.png" title="SnowBoard Game Menu.">
                        <img src="~/Img/Gameplay/SnowboardMenu.png"
                             class="img-game"
                             alt="portfolio-img" />
                    </a>
                    <a href="~/Img/Gameplay/Snowboard1.png" title="SnowBoard Gameplay Picture 1">
                        <img src="~/Img/Gameplay/Snowboard1.png"
                             class="img-game"
                             alt="portfolio-img" />
                    </a>
                    <a href="~/Img/Gameplay/Snowboard2.png" title="SnowBoard Gameplay Picture 2">
                        <img src="~/Img/Gameplay/Snowboard2.png"
                             class="img-game"
                             alt="portfolio-img" />
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12"
                 data-id="id-2"
                 data-type="cat-item-2">
                <div class="text-center">
                    <h3 class="content-title text-left text-decoration-underline">
                        Snorboard Game
                    </h3><br />
                    <p class="content-text text-left">Fun Snowboarder game</p>
                    <p class="content-text text-left">Developed in Unity 2021 with C#</p>
                    <p class="content-text text-left">The game contains 3 levels</p>
                    <p class="content-text text-left">Player is self-propelled</p>
                    <p class="content-text text-left">Be careful not to hit your head because the level resets</p>
                    <p class="content-text text-left">Left and Right arrow for front/back flip</p>
                    <p class="content-text text-left">Space key for boost</p>
                    <br />
                    <a href="https://simmer.io/@@Alexutz21/snowboardergame" target="_blank" class="btn btn-style btn-primary mr-2">
                        Play Game
                    </a>
                </div>
                

            </div>
            @*<div class="mt-sm-5 mt-4 text-center">
            <a onclick="location.href='@Url.Action("projects", "Home")'" class="btn btn-primary btn-style mr-2">
            View More
            </a>
            <a onclick="location.href='@Url.Action("Projects", "Home")'" class="btn btn-outline-primary btn-style mr-2">
            Portfolio
            </a>
            </div>*@
        </div>
    </div>
</section>
<!-- //my featured projects -->
<!-- freelance hire me -->
<section class="w3l-grid-quote text-center py-5">
    <div class="container p-5 py-3">
        <h6 class="title-small">Get in touch</h6>
        <p>
            If you liked my projects and have any questions, <br />
            feel free to ask me anyting and I will be happy to answer you
        </p>
        <br />
        <a onclick="location.href='@Url.Action("Contact", "Home")'" class="btn btn-style btn-primary mr-2">
            Contact
        </a>
        <a onclick="location.href='@Url.Action("About", "Home")'" class="btn btn-style btn-outline-primary">About Me</a>
    </div>
</section>
<!-- //freelance hire me -->