@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-center">

    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">

            <h2 class="title">About Me</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li>@Html.ActionLink("Home", "Index", "Home",null, new {@class= "nav-item"})</li>
                <li class="active">
                    <span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>
                    About Me
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- about page about section -->
<section class="w3l-aboutblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-4">
                    <div class="position-relative">
                        <img src="~/Img/myphoto1.jpg"
                             alt=""
                             class="radius-image img-fluid" />
                    </div>
                </div>
                <div class="col-lg-8 mt-lg-0 mt-5">
                    <h5 class="title-small mb-2">Hello, I am UI/UX Designer</h5>
                    <h3 class="title-big">Having O2 Years of Experience</h3>
                    <p class="mt-4">
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Non quae, fugiat consequatur
                        voluptatem nihil ad. Lorem ipsum dolor sit amet.
                    </p>
                    <div class="my-info mt-4">
                        <div class="single-info">
                            <span>Name:</span>
                            <p>Alexandru Lungu</p>
                        </div>
                        <div class="single-info">
                            <span>Age:</span>
                            <p>38 Years</p>
                        </div>
                        <div class="single-info">
                            <span>From:</span>
                            <p>Arad, Romania</p>
                        </div>
                        <div class="single-info">
                            <span>Email:</span>
                            <p>
                                <a href="mailto:alexander@mail.com">alex.lungu21@yahoo.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="my-social mt-lg-5 mt-4">
                        <a href="https://drive.google.com/file/d/1LXZTyVKweYW7T2HDAFlz12weh-u52OSk/view?usp=sharing" target="_blank" class="btn btn-style btn-primary">Download CV</a>
                        <ul class="social m-0 p-0 ">
                            <li>
                                <a href="https://www.linkedin.com/in/lungu-alexandru-constantin-204376170/" target="_blank">
                                    <span class="fa fa-linkedin-square fa-2x"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Alexutz21" target="_blank"><span class="fa fa-github fa-2x"></span></a>
                            </li>

                            <li>
                                <a href="https://twitter.com/Alexutz21L" target="_blank"><span class="fa fa-twitter fa-2x"></span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/alex.lungu21" target="_blank">
                                    <span class="fa fa-facebook-official fa-2x"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about page about section -->
<!-- about page second section -->
<div class="py-5 w3l-resume">
    <div class="container py-lg-5 py-3">
        <h5 class="title-small mb-2">Hello</h5>
        <h3 class="title-big mb-4">
            I Can give your business a new Creative start right away!
        </h3>
        <p>
            I am a freelancer based in Romania and i have been building
            noteworthy UX/UI designs and websites, which comply with the
            latest design trends. I help convert a vision and an idea into
            meaningful and useful products. Having a sharp eye for product
            evolution helps me prioritize tasks, iterate fast and deliver faster
        </p>
        @*1st Row Start*@
        <div class="row features-w3pvt-main mt-5 pt-md-3" id="features">
            <div class="col-lg-4 col-md-6 feature-gird">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-laptop" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Responsive Design </a></h4>
                        <p>
                            Modern web design approach that allows websites and pages to render (or display) on all devices and screen sizes by automatically adapting to the screen, whether it’s a desktop, laptop, tablet, smartphone, or even a smart TV!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-gird mt-md-0 mt-4">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Powerful Editor </a></h4>
                        <p>
                            I use Visual Studio Code integrated development environment (IDE). I use them  It is used to develop computer programs for Microsoft Windows, as well as web sites, web applications and web services.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-gird mt-lg-0 mt-md-5 mt-4">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-desktop" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Creative Design </a></h4>
                        <p>
                            Creative design is a process that uses digital and physical image-making tools to create renders and representations used for marketing purposes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @*1st Row Stop*@
        @*2nd Row Start*@
        <div class="row features-w3pvt-main mt-5 pt-md-3" id="features">
            <div class="col-lg-4 col-md-6 feature-gird">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-laptop" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Great performance</a></h4>
                        <p>
                            I work with the most modern technology that can handle
                            a large flow of customers and maintain a high level of quality
                            of work.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-gird mt-md-0 mt-4">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Long-term solution</a></h4>
                        <p>
                            My digital products are created to a high-quality level,
                            so I have a support period after product release
                            because I am confident in what I do.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 feature-gird mt-lg-0 mt-md-5 mt-4">
                <div class="row features-hny-inner-gd">
                    <div class="col-md-2 col-2 featured_grid_left">
                        <div class="icon_left_grid">
                            <span class="fa fa-desktop" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-md-10 col-10 featured_grid_right_info">
                        <h4><a class="link-hny" href="#url">Quality product</a></h4>
                        <p>
                            Before releasing a product, I as a software developer test 
                            it constantly in operation for imperfections and check it 
                            during user interaction, guaranteeing that my product is of 
                            high quality.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @*2nd Row Stop*@
    </div>
</div>
<!-- //about page about section -->
<!-- about page third section -->
<section class="w3l-content-6 py-5">
    <div class="content-6-mian py-lg-5 py-md-4">
        <div class="container">
            <div class="content-info-in row">
                <div class="content-gd col-lg-5">
                    <h3 class="title-big mb-4">
                        Motivated by the Desire to achieve Success
                    </h3>
                    <p>
                        Motivation is the internal and external factors that contribute to the desire to stay committed or interested in a position, goal or subject. To excel in our profession, we will need the motivation to continually pursue our career objectives.
                        <br />
                        @*For example, we may want to be promoted to a higher position of responsibility in our organization. Having a specific goal will motivate us to deliver top-level performance. This also applies when we are studying to acquire a specialized skill that will enhance our earning power.
                        <br />
                        Motivation thrives on conscious and unconscious factors, which could include the need to gain something or the potential to earn recognition and praise from others. Your source of motivation could also be the need to earn more money to support your family or to retire by a certain age.*@
                    </p>
                </div>
                <div class="content-gd col-lg-6 offset-lg-1">
                    <div class="progress-info">
                        <h6 class="progress-tittle">UI/UX Design</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: 80%"
                                 aria-valuenow="80"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-info">
                        <h6 class="progress-tittle">Ideas & Technology</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: 95%"
                                 aria-valuenow="95"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-info">
                        <h6 class="progress-tittle">Branding Design</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: 55%"
                                 aria-valuenow="55"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress-info mb-0">
                        <h6 class="progress-tittle">Responsive Web Design</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped"
                                 role="progressbar"
                                 style="width: 80%"
                                 aria-valuenow="80"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about page third section -->
<!-- subscribe block -->
<div class="abouthy-img-grids">
    <div class="img-one">
        <img src="~/Img/g5.jpg" alt=" " class="img-fluid" />
    </div>
    <div class="img-one content-mid">
        <h3 class="title-big">
            Stay up to date, Subscribe to the free Newsletter!
        </h3>
        <form action="#url" method="GET" class="subscribe-form">
            <input type="email"
                   name="email"
                   placeholder="Enter your email"
                   required />
            <button type="submit" class="btn">Subscribe</button>
        </form>
    </div>
    <div class="img-one">
        <img src="~/Img/g3.jpg" alt=" " class="img-fluid" />
    </div>
</div>
<!-- //subscribe block -->
@*<!-- achievements block -->
<section class="w3l-services">
    <div class="w3l-achievements py-5 serv" id="serv">
        <div class="container py-lg-5">
            <h5 class="title-small text-center">My achievements</h5>
            <h3 class="title-big text-center mb-sm-5 mb-4">Personal Awards</h3>
            <div class="row">
                <div class="col-lg-6 item">
                    <div class="card">
                        <div class="box-wrap">
                            <div class="icon">
                                <span class="fa fa-globe"></span>
                            </div>
                            <h4><a href="#url">Website of the day</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Animi reiciendis labore quisquam suscipit qui veritatis.
                                voluptas quia officiis fugit soluta sunt
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 item">
                    <div class="card">
                        <div class="box-wrap">
                            <div class="icon">
                                <span class="fa fa-laptop"></span>
                            </div>
                            <h4><a href="#url"> Awards Site Of The Day</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Animi reiciendis labore quisquam suscipit qui veritatis.
                                voluptas quia officiis fugit soluta sunt
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 item">
                    <div class="card">
                        <div class="box-wrap mb-lg-0">
                            <div class="icon">
                                <span class="fa fa-trophy"></span>
                            </div>
                            <h4><a href="#url">Honorable mention award</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Animi reiciendis labore quisquam suscipit qui veritatis.
                                voluptas quia officiis fugit soluta sunt
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 item">
                    <div class="card">
                        <div class="box-wrap mb-0">
                            <div class="icon">
                                <span class="fa fa-laptop"></span>
                            </div>
                            <h4><a href="#url">Designer of the Company</a></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Animi reiciendis labore quisquam suscipit qui veritatis.
                                voluptas quia officiis fugit soluta sunt
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //achievements block -->*@

<!-- freelance hire me -->
<section class="w3l-grid-quote text-center py-5">
    <div class="container p-5 py-3">
        <h6 class="title-small">Get in touch</h6>
        <h3 class="title-big mb-md-5 mb-4">Let's start a Project!</h3>
        <a onclick="location.href='@Url.Action("Contact", "Home")'" class="btn btn-style btn-primary mr-2">
            Contact
        </a>
        <a onclick="location.href='@Url.Action("About", "Home")'" class="btn btn-style btn-outline-primary">About Me</a>
    </div>
</section>
<!-- //freelance hire me -->
