@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-center">

    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <ol>
                <li class="nav-item @@contact__active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">EN</a>
                </li>
                <li class="nav-item @@contact__active">
                    <a class="nav-link" asp-area="" asp-controller="HomeRo" asp-action="AboutRo">RO</a>
                </li>

            </ol>
            <h2 class="title">About Me</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Home</a></li>
                <li class="active">
                    <span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>
                    About Me
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->

<!-- about page about section -->
    <section class="w3l-aboutblock1" id="about">
      <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
          <div class="row">
            <div class="col-lg-4">
              <div class="position-relative">
                <img
                  src="assets/images/myphoto1.jpg"
                  alt=""
                  class="radius-image img-fluid"
                />
              </div>
            </div>
            <div class="col-lg-8 mt-lg-0 mt-5">
              <h5 class="title-small mb-2">Hello, I am UI/UX Designer</h5>
              <h3 class="title-big">Having O7 Years of Experience</h3>
              <p class="mt-4">
                Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Non quae, fugiat consequatur
                voluptatem nihil ad. Lorem ipsum dolor sit amet.
              </p>
              <div class="my-info mt-4">
                <div class="single-info">
                  <span>Name:</span>
                  <p>Alexandru Lungu</p>
                </div>
                <div class="single-info">
                  <span>Age:</span>
                  <p>38 Years</p>
                </div>
                <div class="single-info">
                  <span>From:</span>
                  <p>London, UK</p>
                </div>
                <div class="single-info">
                  <span>Email:</span>
                  <p>
                    <a href="mailto:alexander@mail.com"
                      >alex.lungu21@yahoo.com</a
                    >
                  </p>
                </div>
              </div>
              <div class="my-social mt-lg-5 mt-4">
                <a href="#download" class="btn btn-style btn-primary"
                  >Download CV</a
                >
                <ul class="social m-0 p-0">
                  <li>
                    <a href="#twitter"><span class="fa fa-twitter"></span></a>
                  </li>
                  <li>
                    <a href="#instagram"
                      ><span class="fa fa-instagram"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#facebook"
                      ><span class="fa fa-facebook-official"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#linkedin"
                      ><span class="fa fa-linkedin-square"></span
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //about page about section -->
