@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />

<section class="w3l-services">
    <div class="blog py-5" id="services">
        <div class="container p-5 py-lg-5">
            <h5 class="title-small text-center">Services</h5>
            <h3 class="title-big text-center mb-sm-5 mb-4">I provide everything you need <br />for your perfect website</h3>
            <div class="row">
                <div class="col-md-12 mx-auto pr-2">
                    <div class="owl-two owl-carousel owl-theme">

                        <div class="item">
                            <div class="card">
                                <div class="box-wrap">
                                    <div class="icon">
                                        <span class="fa fa-laptop"></span>
                                    </div>
                                    <h4 class="number">01</h4>
                                    <h4><a href="#url">Web Development</a></h4>
                                    <p>
                                        HTML/CSS, JavaScript Animation, WordPress, Responsive Website
                                    </p>
                                    <a href="#read" class="read">Read more</a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="card">
                                <div class="box-wrap">
                                    <div class="icon">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </div>
                                    <h4 class="number">02</h4>
                                    <h4><a href="#url">User Experience Design</a></h4>
                                    <p>
                                        I design your website to be as easy to use as
                                        possible while guiding users towards the end goal.
                                        Putting the user’s experience first, whether
                                        they’re looking to subscribe, trying to contact you,
                                        or just gathering information, will ensure more
                                        loyal users increasing long term sales.
                                    </p>
                                    <a href="#read" class="read">Read more</a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="card">
                                <div class="box-wrap">
                                    <div class="icon">
                                        <span class="fa fa-area-chart"></span>
                                    </div>
                                    <h4 class="number">03</h4>
                                    <h4><a href="#url">Tailored Development</a></h4>
                                    <p>

                                        I build with your goals in mind, whether you want
                                        a simple flexible website, a custom storefront or
                                        a SaaS product. I focus on making websites easy to
                                        work with so your team have full control, while
                                        keeping code maintainable for easy updates.
                                    </p>
                                    <a href="#read" class="read">Read more</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mx-auto pr-2">
                    <div class="owl-two owl-carousel owl-theme">

                        <div class="item">
                            <div class="card">
                                <div class="box-wrap">
                                    <div class="icon">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </div>
                                    <h4 class="number">04</h4>
                                    <h4><a href="#url">Research & Analysis</a></h4>
                                    <p>
                                        Lorem ipsum dolor sit amet sed consectetur adipisicing
                                        elit. doloret quas saepe autem, dolor set.
                                    </p>
                                    <a href="#read" class="read">Read more</a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="card">
                                <div class="box-wrap">
                                    <div class="icon">
                                        <span class="fa fa-laptop"></span>
                                    </div>
                                    <h4 class="number">05</h4>
                                    <h4><a href="#url">Branding</a></h4>
                                    <p>

                                        Visual Identity, Stationary Kit, Marketing Materials
                                    </p>
                                    <a href="#read" class="read">Read more</a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="card">
                                <div class="box-wrap">
                                    <div class="icon">
                                        <span class="fas fa-camera-retro"></span>
                                    </div>
                                    <h4 class="number">06</h4>
                                    <h4><a href="#url">Photography</a></h4>
                                    <p>
                                        Travel Photography, Product Photography
                                    </p>
                                    <a href="#read" class="read">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- freelance hire me -->
<section class="w3l-grid-quote text-center py-5">
    <div class="container p-5 py-3">
        <h6 class="title-small">Get in touch</h6>
        <h3 class="title-big mb-md-5 mb-4">Let's start a Project!</h3>
        <a onclick="location.href='@Url.Action("Contact", "Home")'" class="btn btn-style btn-primary mr-2">
            Contact
        </a>
        <a onclick="location.href='@Url.Action("About", "Home")'" class="btn btn-style btn-outline-primary">About Me</a>
    </div>
</section>
<!-- //freelance hire me -->